*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin-top: 0;
}

header {
    border-radius: 0 0 2rem 2rem;
    width: 100%;
    padding: 0.2rem;
    margin: 0 auto rem;
}

header > h1, header > h2, header > h3 {
    margin: 0;
}

section {
    padding: 0.6rem;
}

.helper {
    display: none;
}

form {
    display: flex;
}

ul {
    padding: 0.4rem;
    width: 85%;
}

li {
    padding: 0.4em 0 0 0;
    overflow: hidden;
}

label {
    display: inline-block;
    width: 27em;
    max-width: 100%;
}

input {
    width: 9em;
    padding: 0;
}

select, option {
    width: 3em;
    padding: 0;
}

li.color-picker-holder label {
    width: 10em;
}

.color-picker-holder > input {
    width: 3.5em;
    height: 1.4em;
}

.color-picker-holder:nth-of-type(4) {
    visibility: hidden;
}

button {
    width: 100%;
    margin: 0.2em 0em;
    padding: 0.6em 0;
}

#fractal {
    text-align: center;
}

#bg-allower-container label {
    max-width: 35%;
    min-width: 250px;
}

#bg-allower-container > input {
    vertical-align: middle;
    max-width: 1.2em;
    height: 1.3em;
    margin: 0.05em 2.8em 0.05em 0.05em;
}